@model ComicBookGallery.Models.ComicBook

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = Model.DisplayText;
    


}


<h1>@Model.SeriesTitle</h1>
<h2>@Model.IssueNumber</h2>
<h5>Description:</h5>
<div>@Html.Raw(Model.DescriptionHtml)</div>
       
@if (Model.Artists.Length > 0)
{
<h5>Artists:</h5>

    <div>
        <ul>
            @for (int i = 0; i < Model.Artists.Length; i++)
            {
                <li>@Model.Artists[i].Role.ToString() : @Model.Artists[i].Name.ToString()  </li>

            }
        </ul>
        

    </div>
}

 
